<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
    <listeners>
       <listener name="com.edu.core.ApiListener" />
    </listeners>
 
  <test name="Regression1">
    <classes>
      <class name="com.edu.test.LoginTest"/>
      <class name="com.edu.test.SkulistTest"/>
 
    </classes>
  </test>
</suite>