<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes> 
      <!-- 靳明明 -->
      <class name="jinmingming.FenXiao"/>
      <class name="jinmingming.Click"/>
      <class name="jinmingming.ChangYongCuXiao1"/>
      <class name="jinmingming.ChangYongCuXiao2"/>
      <class name="jinmingming.ChangYongCuXiao3"/>
      <class name="jinmingming.ChangYongCuXiao4"/>
      <class name="jinmingming.YouHiuJuan"/>
      <!-- 袁康 -->
	  <class name="demoyk.Shop"/>
	  <class name="demoyk.Setting"/>	
	  <!-- 王欣平 -->
	  <class name="wxpBackgroundPage.PageManage"/>
	  <class name="wxpBackgroundPage.ContentManage"/>
	  <!-- 李晓月 -->
	  <class name="lixiaoyue.Test_GongYingShang"/>
    </classes>
  </test>
  <listeners>
		<listener class-name="com.webtest.core.ApiListener"></listener>
  </listeners>
  
   <!-- Test -->
</suite> <!-- Suite -->
